.todo-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}
.card {
  border: solid 1px black;
  border-radius: 5px;
  padding: 1rem;
}

.title {
  font-weight: bold;
}

.title, .body {
  white-space:pre-line; /*make text recognize new line*/
  overflow-wrap: break-word; /*make large words break into multiple lines*/
}